node_modules
npm-debug.log
*.md
Dockerfile
.dockerignore
.gitignore
.travis.yml
.istanbul.yml
.git
.github

# Build folder - keep commented to allow copying from build stage
# lib/

# Source folder - MUST be included for build
!src/
!bin/
!public_html/
!views/
!.babelrc
!package.json
!package-lock.json

# Tests
spec/
# Keep local dependencies used to CI tests
!spec/dependencies/

# IDEs
.idea/
